* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #333;
}
body {
	height: 100%;
	overflow: hidden;
}
#root {
	height: 100%;
	display: grid;
	grid-template-rows: max-content 1fr;
	gap: 16px;
	padding: 16px;
}

h1 {
	color: #fff;
	text-align: center;
}
#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	justify-content: center;
	gap: 16px;
}

.leaflet-container {
	position: relative;
    grid-row: span 2;

	border-radius: 16px;
	box-shadow: 0 0 16px #000;
}

.chart {
	display: grid;
	grid-template-rows: max-content 1fr;
	background-color: #262626;	
	border-radius: 16px;
	box-shadow: 0 0 16px #000;
}
.chart h2 {
	margin: 16px;
	color: #fff;
	text-align: center;
}
.chart > div {
	height: 100%;
}

@media (max-width: 767px) {
	#grid {
		grid-template-columns: 1fr;
	}
	.leaflet-container {
		grid-row: span 1;
	}
}